
html, body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  max-width: 100vw; 
  width: 100%; 
  overflow-x: hidden; 
  scroll-behavior: smooth;
}

@media (max-width: 768px) {
  body {
    font-size: 0.7rem; /* Smaller font for smaller screens */
  }
}

.page-wrapPrecaution {
  display: flex;
  flex-direction: column;
  align-items: column;
  overflow-x: hidden; 
  width: 100%; 
}

@media (min-width: 768px) {
  .page-wrapPrecaution {
    grid-template-columns: repeat(2, 1fr); /* Two columns for wider screens */
  }
}

.shared-container {
  display: flex;
  flex-direction: column;
  gap: 20px; 
  width: 100%;
  align-items: center;
  text-align: center;
}

.IntroExpGradient {
  background: linear-gradient(to bottom, #010201, #312515); /* Blue gradient for Introduction & Experience */
}

.ProjResMoreGradient {
  background: linear-gradient(to bottom, #312515, #010201); /* Gray gradient for Projects & Resume */
}

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow-x: hidden; /* Prevent horizontal overflow */
  justify-content: center;
  text-align: center;
}


.introduction, .experience {
  color: white;
  padding: 20px; /* Add padding for spacing */
  width: 100%;
  max-width: 1200px; /* Optional: Restrict max width for readability */
  text-align: center;
}
.projects, .resume{
  color: black;
  padding: 20px; /* Add padding for spacing */
  width: 100%;
  max-width: 1200px; /* Optional: Restrict max width for readability */
  text-align: center;
}
